:root {
    --lightBlack: rgba(0, 0, 0, 0.363);
    --mediumBlack: rgba(0, 0, 0, 0.555);
    --darkBlack: rgba(0, 0, 0, 0.753);
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: lato, sans-serif;
}

html, body, #content, .backgroundImg {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

#content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    cursor: pointer;    
}

.backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.centerContainerGrid {
    width: 80rem;
    height: 41rem;

    display: grid; 
    grid-template: 70px 1fr / 3fr 8fr;
}

.topBar {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--darkBlack);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
}

.topBar > p {
    margin-left: 50px;
    font-size: 2.3rem;
}

.sideBar {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--lightBlack);
    border-radius: 0px 0px 0px 15px;

    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;

}


.sideBar > div > p {
    font-size: 1.5rem;
    cursor: pointer;
}

.sideBar > div {
    display: flex;
    /* border: 1px solid white; */
}

.numberOfTodos {
    margin-left: auto;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* .numberOfTodos > p {

} */

.mainSection {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--mediumBlack);
    border-radius: 0px 0px 15px 0px;

    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 13px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--darkBlack);
    border-radius: 5px;
}

.todoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0px 20px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

.todoItem {
    background-color: var(--darkBlack);
    height: 50px;
    width: 95%;
    border-radius: 10px;

    display: flex;
}

.todoLeft, .todoRight {
    display: flex;
    gap: 10px;
    align-items: center;
}

.todoRight {
    margin-left: auto;
    margin-right: 10px;
}

.todoPriority {
    background-color: green;
    height: 50px;
    width: 10px;
    border-radius: 10px 0px 0px 10px;
}

input[type="checkbox"], .todoDetails {
    cursor: pointer;
}

input[type="checkbox"] {
    height: 18px;
    width: 18px;
}

.todoDetails {
    border: 1px solid white;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.todoButton {
    height: 24px;
    width: 24px;
    background: none;
    margin-bottom: 4px;
}

.titleFinished, .dueDateFinished, .buttonFinished, .detailsFinished {
    color: rgb(163, 163, 163);
}

.detailsFinished {
    border: 1px solid rgb(163, 163, 163);
}

.titleFinished {
    text-decoration: line-through;
}

.todoFooter {
    height: 60px;
    padding: 15px 20px 15px 20px;
    
    display: flex;
    gap: 10px;
}

.footerRight {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.footerButton {
    height: 50px;
    width: 50px;
    background: none;
}

.createNoteModal {
    position: absolute;
    background-color: var(--darkBlack);
    height: 50%;
    width: 80%;
    max-width: 800px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

}

.modalTitle {
    background-color: var(--darkBlack);
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}

.newNoteForm {
    flex: 1;
    border-radius: 0px 0px 20px 20px;
    padding: 20px 20px 0px 20px;

    display: flex;
    flex-direction: column;
}

.formRow {
    width: 100%;
    /* border: 1px solid white; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.formRow:nth-child(3) {
    margin-top: auto;
}

input[type="text"], textarea {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 1.5rem;
    outline: none;
    font-size: 1.3rem;
}

input[type="text"]::placeholder {
    color: gray;
    font-size: 1.3rem;
}

textarea {
    font-size: 1.1rem;
    resize: none;
    flex: 1;
}

.formRow:nth-child(3) {
    margin-bottom: 10px;
}

input[type="date"] {
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 5px 5px 15px;
    border-radius: 15px;
    margin-left: 10px;
    color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: red;
}

input[type="radio"] {
    display: none;
}

.radioContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.radioContainer > label {
    position: absolute;
    transform:translate(-50%,-50%);
    top: 28px;
}


.radioContainer > label:nth-child(1) {
    margin-right: 30px;
}

.radioContainer label:not(.radioContainer > label:nth-child(1)) {
    margin-right: 10px;
    border-radius: 4px;
}

.radioContainer label:not(.radioContainer > label:nth-child(1)):hover {
    color: white;
}

.radioContainer > label:nth-child(3) {
    border: 1px solid green;
    color: green;
    padding: 4px;
    left: 110px;

}

.radioContainer > label:nth-child(3):hover, #low:checked+label[for="low"]{
    background-color: green;
    padding: 6px;
    color: white;
}

.radioContainer > label:nth-child(5) {
    border: 1px solid orange;
    color: orange;
    padding: 4px;
    left: 180px;
}

.radioContainer > label:nth-child(5):hover, #medium:checked+label[for="medium"] {
    background-color: orange;
    padding: 6px;
    color: white;
}

.radioContainer > label:nth-child(7) {
    border: 1px solid red;
    color: red;
    padding: 4px;
    left: 252px;
}

.radioContainer > label:nth-child(7):hover, #high:checked+label[for="high"] {
    background-color: red;
    padding: 6px;
    color: white;
}

.submitButtonDiv {
    margin-left: auto;
}

.submitButtonDiv > button {
    background-color: transparent;
    border: 1px solid white;
    padding: 20px;
    border-radius: 4px;
}

.submitButtonDiv > button:hover {
    background-color: rgba(255, 255, 255, 0.212);
}


@media only screen and (max-width: 1280px) {
    .centerContainerGrid {
        height: 100vh;
    }

    .topBar, .sideBar, .mainSection {
        border-radius: 0px;
    }
}